*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option,
a {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

@property --gradient-start-color-main-btn {
  syntax: "<color>";
  inherits: false;
  initial-value: #8176AF;
}
@property --gradient-end-color-main-btn {
  syntax: "<color>";
  inherits: false;
  initial-value: #C0B7E8;
}
@property --gradient-start-color-contacts-btn {
  syntax: "<color>";
  inherits: false;
  initial-value: #302C42;
}
@property --gradient-midd-color-contacts-btn {
  syntax: "<color>";
  inherits: false;
  initial-value: #1e1a29;
}
@property --gradient-end-color-contacts-btn {
  syntax: "<color>";
  inherits: false;
  initial-value: #302C42;
}
.button {
  background: -webkit-gradient(linear, left top, right top, from(var(--gradient-start-color-main-btn)), to(var(--gradient-end-color-main-btn)));
  background: linear-gradient(90deg, var(--gradient-start-color-main-btn) 0%, var(--gradient-end-color-main-btn) 100%);
  text-transform: uppercase;
  text-align: center;
  border-radius: 2.5rem;
  color: #302C42;
  transition-property: --gradient-start-color-main-btn, --gradient-end-color-main-btn;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
@media (min-width: 81.375em) {
  .button {
    min-width: 9.6875rem;
  }
}
@media (min-width: 20em) and (max-width: 81.375em) {
  .button {
    min-width: clamp(6.25rem, calc(5.1298370672rem + 5.600814664vw), 9.6875rem);
  }
}
@media (max-width: 20em) {
  .button {
    min-width: 6.25rem;
  }
}
@media (min-width: 81.375em) {
  .button {
    padding-block: 1.0625rem;
  }
}
@media (min-width: 20em) and (max-width: 81.375em) {
  .button {
    padding-block: clamp(0.625rem, calc(0.4824338086rem + 0.7128309572vw), 1.0625rem);
  }
}
@media (max-width: 20em) {
  .button {
    padding-block: 0.625rem;
  }
}
@media (min-width: 81.375em) {
  .button {
    font-size: 0.75rem;
  }
}
@media (min-width: 20em) and (max-width: 81.375em) {
  .button {
    font-size: clamp(0.625rem, calc(0.5842668024rem + 0.2036659878vw), 0.75rem);
  }
}
@media (max-width: 20em) {
  .button {
    font-size: 0.625rem;
  }
}
.button:focus-visible {
  outline: 0.125rem solid #7d72ad !important;
  outline-offset: 0.3125rem;
  border-radius: 2.5rem;
}
@media (any-hover: hover) and (pointer: fine) {
  .button:hover {
    --gradient-start-color-main-btn: #585174 ;
    --gradient-end-color-main-btn: #a99de1 ;
    transition-property: --gradient-start-color-main-btn, --gradient-end-color-main-btn;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
  }
}

.header {
  padding-top: 3.125rem;
  background-color: #302C42;
  font-weight: 700;
  line-height: 1.2;
  color: #fff;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 50;
}
@media (min-width: 81.375em) {
  .header {
    font-size: 0.75rem;
  }
}
@media (min-width: 20em) and (max-width: 81.375em) {
  .header {
    font-size: clamp(0.625rem, calc(0.5842668024rem + 0.2036659878vw), 0.75rem);
  }
}
@media (max-width: 20em) {
  .header {
    font-size: 0.625rem;
  }
}
.header .header__container {
  max-width: 81.375rem;
}
.header .header__hydra-logo {
  width: 12.0625rem;
  aspect-ratio: 193/103;
}
.header .header__hydra-logo:focus-visible {
  outline: 0.125rem solid #7d72ad;
  outline-offset: 0.3125rem;
  border-radius: 0.625rem;
}
.header .header__hydra-logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.header .header__contentent-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .menu-header .list-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (min-width: 81.375em) {
  .header .menu-header .list-menu {
    gap: 2.625rem;
  }
}
@media (min-width: 20em) and (max-width: 81.375em) {
  .header .menu-header .list-menu {
    gap: clamp(0.625rem, calc(-0.0267311609rem + 3.2586558045vw), 2.625rem);
  }
}
@media (max-width: 20em) {
  .header .menu-header .list-menu {
    gap: 0.625rem;
  }
}
.header .menu-header .list-menu .list-menu__link {
  text-transform: uppercase;
  padding-block: 2.5rem;
  position: relative;
}
.header .menu-header .list-menu .list-menu__link::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 0.1875rem;
  bottom: 36%;
  left: 0;
  background-color: #fff;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}
@media (any-hover: hover) and (pointer: fine) {
  .header .menu-header .list-menu .list-menu__link:hover::after {
    width: 100%;
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
  }
}
.header .menu-header .list-menu .list-menu__link:focus-visible {
  outline: 0.125rem solid #7d72ad;
  outline-offset: 0rem;
  border-radius: 0.625rem;
}
.header .menu-header .button-burger {
  display: none;
}
.header .header__action-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2.375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .header__action-button .button-action__contacts {
  color: #fff;
  background: linear-gradient(135deg, var(--gradient-start-color-contacts-btn) 0%, var(--gradient-midd-color-contacts-btn) 50%, var(--gradient-end-color-contacts-btn) 100%);
  background-size: 300%;
  background-position: left;
  outline: 2px solid #fff;
  transition-property: --gradient-start-color-contacts-btn, --gradient-midd-color-contacts-btn, --gradient-end-color-contacts-btn, background-position;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}
@media (any-hover: hover) and (pointer: fine) {
  .header .header__action-button .button-action__contacts:hover {
    background: -webkit-gradient(linear, left top, right top, from(var(--gradient-start-color-main-btn)), to(var(--gradient-end-color-main-btn)));
    background: linear-gradient(90deg, var(--gradient-start-color-main-btn) 0%, var(--gradient-end-color-main-btn) 100%);
    background-size: 100%;
    background-position: right;
    transition-property: --gradient-start-color-main-btn, --gradient-end-color-main-btn, background-position, background-size;
    -webkit-transition-duration: 0.6s;
            transition-duration: 0.6s;
  }
}
@media (max-width: 59.43625em) {
  .header .menu-header__list-wrapper {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 51;
    top: 6.875rem;
    left: -100%;
    border-radius: 100%;
    background-color: #302C42;
    width: 100%;
    height: calc(100% - 6.875rem);
    padding: 3.125rem 1.875rem 3.125rem 1.875rem;
    -webkit-transition: opacity 0.3s, visibility 0.3s 0s, left 0.5s, border-radius 0.5s;
    transition: opacity 0.3s, visibility 0.3s 0s, left 0.5s, border-radius 0.5s;
  }
  .header .menu-header__list-wrapper .list-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2.5rem;
  }
  .header .menu-header__list-wrapper .list-menu .list-menu__link {
    padding-block: 0;
    font-size: 1.25rem;
  }
  .header .header__hydra-logo {
    width: 6.4375rem;
    aspect-ratio: 103/60;
  }
  .header .button-burger {
    display: inline-block !important;
    position: relative;
    width: 2.1875rem;
    height: 1.5625rem;
  }
  .header .button-burger .button-burger__element {
    position: absolute;
    width: 75%;
    height: 0.1875rem;
    top: 45%;
    right: 0;
    background: -webkit-gradient(linear, left top, right top, from(var(--gradient-start-color-main-btn)), to(var(--gradient-end-color-main-btn)));
    background: linear-gradient(90deg, var(--gradient-start-color-main-btn) 0%, var(--gradient-end-color-main-btn) 100%);
    border-radius: 1.25rem;
    -webkit-transition: width 0.3s;
    transition: width 0.3s;
  }
  .header .button-burger::before, .header .button-burger::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.1875rem;
    right: 0;
    background: -webkit-gradient(linear, left top, right top, from(var(--gradient-start-color-main-btn)), to(var(--gradient-end-color-main-btn)));
    background: linear-gradient(90deg, var(--gradient-start-color-main-btn) 0%, var(--gradient-end-color-main-btn) 100%);
    border-radius: 1.25rem;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
  }
  .header .button-burger::before {
    top: 0;
  }
  .header .button-burger::after {
    bottom: 0;
  }
}

body.active .header__action-button .button-burger .button-burger__element, body.active .header__contentent-wrapper .button-burger .button-burger__element {
  width: 0%;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}
body.active .header__action-button .button-burger::before, body.active .header__contentent-wrapper .button-burger::before {
  -webkit-transform: translate(0rem, 0.6875rem) rotate(130deg);
      -ms-transform: translate(0rem, 0.6875rem) rotate(130deg);
          transform: translate(0rem, 0.6875rem) rotate(130deg);
}
body.active .header__action-button .button-burger::after, body.active .header__contentent-wrapper .button-burger::after {
  -webkit-transform: translate(0rem, -0.6875rem) rotate(-130deg);
      -ms-transform: translate(0rem, -0.6875rem) rotate(-130deg);
          transform: translate(0rem, -0.6875rem) rotate(-130deg);
}
body.active .header__action-button .button-burger::before, body.active .header__action-button .button-burger::after, body.active .header__contentent-wrapper .button-burger::before, body.active .header__contentent-wrapper .button-burger::after {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
body.active .menu-header__list-wrapper {
  opacity: 1;
  left: 0%;
  visibility: visible;
  border-radius: 0%;
  -webkit-transition: opacity 0.5s, left 0.5s, border-radius 0.5s;
  transition: opacity 0.5s, left 0.5s, border-radius 0.5s;
}

@media (max-width: 34.43625em) {
  .menu-header__list-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.25rem;
  }
  .menu-header__list-wrapper .list-menu {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
@media (max-width: 34.43625em) and (min-width: 81.375em) {
  .menu-header__list-wrapper .list-menu .list-menu__link {
    font-size: 0.75rem;
  }
}
@media (max-width: 34.43625em) and (min-width: 20em) and (max-width: 81.375em) {
  .menu-header__list-wrapper .list-menu .list-menu__link {
    font-size: clamp(0.625rem, calc(0.5842668024rem + 0.2036659878vw), 0.75rem);
  }
}
@media (max-width: 34.43625em) and (max-width: 20em) {
  .menu-header__list-wrapper .list-menu .list-menu__link {
    font-size: 0.625rem;
  }
}
@media (max-width: 34.43625em) {
  .header__contentent-wrapper .button-burger .button-burger__element {
    -webkit-transition: width 0.3s;
    transition: width 0.3s;
  }
  .header__contentent-wrapper .button-burger::before, .header__contentent-wrapper .button-burger::after {
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
  }
}
.footer {
  position: relative;
  background-size: cover;
  padding-top: 5.625rem;
  padding-bottom: 3.75rem;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  color: #fff;
}
.footer::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/footer-vector-group.svg") no-repeat;
  background-position: center center;
  background-size: contain;
}
@media (min-width: 81.375em) {
  .footer::before {
    bottom: 11.875rem;
  }
}
@media (min-width: 20em) and (max-width: 81.375em) {
  .footer::before {
    bottom: clamp(6.25rem, calc(4.41700611rem + 9.1649694501vw), 11.875rem);
  }
}
@media (max-width: 20em) {
  .footer::before {
    bottom: 6.25rem;
  }
}
.footer .main-footer__container, .footer .bottom-footer__container {
  max-width: 81.375rem;
}
.footer .main-footer__container {
  padding-bottom: 7.5rem;
  position: relative;
}
@media (min-width: 81.375em) {
  .footer .main-footer__container {
    font-size: 1rem;
  }
}
@media (min-width: 20em) and (max-width: 81.375em) {
  .footer .main-footer__container {
    font-size: clamp(0.625rem, calc(0.5028004073rem + 0.6109979633vw), 1rem);
  }
}
@media (max-width: 20em) {
  .footer .main-footer__container {
    font-size: 0.625rem;
  }
}
.footer .main-footer__container::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 3.125rem;
  width: 100%;
  height: 0.1875rem;
  background: -webkit-gradient(linear, left top, right top, from(#8176AF), to(#C0B7E8));
  background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
  mask-image: -webkit-gradient(linear, right top, left top, from(transparent), color-stop(20%, black), color-stop(80%, black), to(transparent));
  mask-image: linear-gradient(to left, transparent, black 20%, black 80%, transparent);
  -webkit-mask-image: -webkit-gradient(linear, right top, left top, from(transparent), color-stop(20%, black), color-stop(80%, black), to(transparent));
  -webkit-mask-image: linear-gradient(to left, transparent, black 20%, black 80%, transparent);
}
.footer .bottom-footer__container {
  text-align: center;
}
@media (min-width: 81.375em) {
  .footer .bottom-footer__container {
    font-size: 0.875rem;
  }
}
@media (min-width: 20em) and (max-width: 81.375em) {
  .footer .bottom-footer__container {
    font-size: clamp(0.625rem, calc(0.5435336049rem + 0.4073319756vw), 0.875rem);
  }
}
@media (max-width: 20em) {
  .footer .bottom-footer__container {
    font-size: 0.625rem;
  }
}
.footer .bottom-footer__container .bottom-footer__copyright {
  letter-spacing: 0.11375rem;
  line-height: 2;
}
.footer .main-footer__line {
  width: 0.3125rem;
  height: 12.25rem;
  background: -webkit-gradient(linear, left top, right top, from(#8176AF), to(#C0B7E8));
  background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
  mask-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(20%, black), color-stop(80%, black), to(transparent));
  mask-image: linear-gradient(to bottom, transparent, black 20%, black 80%, transparent);
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(20%, black), color-stop(80%, black), to(transparent));
  -webkit-mask-image: linear-gradient(to bottom, transparent, black 20%, black 80%, transparent);
}
.footer .main-footer__content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 0.9375rem;
}
@media (min-width: 81.375em) {
  .footer .main-footer__content-wrapper {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 81.375em) {
  .footer .main-footer__content-wrapper {
    -webkit-column-gap: clamp(0.625rem, calc(0.4213340122rem + 1.0183299389vw), 1.25rem);
       -moz-column-gap: clamp(0.625rem, calc(0.4213340122rem + 1.0183299389vw), 1.25rem);
            column-gap: clamp(0.625rem, calc(0.4213340122rem + 1.0183299389vw), 1.25rem);
  }
}
@media (max-width: 20em) {
  .footer .main-footer__content-wrapper {
    -webkit-column-gap: 0.625rem;
       -moz-column-gap: 0.625rem;
            column-gap: 0.625rem;
  }
}
.footer .main-footer__content-wrapper .main-footer__logo {
  aspect-ratio: 1/1;
}
@media (min-width: 81.375em) {
  .footer .main-footer__content-wrapper .main-footer__logo {
    width: 11.5625rem;
  }
}
@media (min-width: 20em) and (max-width: 81.375em) {
  .footer .main-footer__content-wrapper .main-footer__logo {
    width: clamp(6.25rem, calc(4.5188391039rem + 8.6558044807vw), 11.5625rem);
  }
}
@media (max-width: 20em) {
  .footer .main-footer__content-wrapper .main-footer__logo {
    width: 6.25rem;
  }
}
.footer .main-footer__content-wrapper .main-footer__logo img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (min-width: 81.375em) {
  .footer .main-footer__content-wrapper .main-footer__list-wrapper .list-main-footer .list-main-footer__item:not(:last-child) {
    margin-bottom: 1.5625rem;
  }
}
@media (min-width: 20em) and (max-width: 81.375em) {
  .footer .main-footer__content-wrapper .main-footer__list-wrapper .list-main-footer .list-main-footer__item:not(:last-child) {
    margin-bottom: clamp(0.625rem, calc(0.3195010183rem + 1.5274949084vw), 1.5625rem);
  }
}
@media (max-width: 20em) {
  .footer .main-footer__content-wrapper .main-footer__list-wrapper .list-main-footer .list-main-footer__item:not(:last-child) {
    margin-bottom: 0.625rem;
  }
}
.footer .main-footer__content-wrapper .main-footer__list-wrapper .list-main-footer .list-main-footer__item .list-main-footer__link {
  position: relative;
}
.footer .main-footer__content-wrapper .main-footer__list-wrapper .list-main-footer .list-main-footer__item .list-main-footer__link::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 0.1875rem;
  top: 100%;
  left: 0;
  background-color: #fff;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}
@media (any-hover: hover) and (pointer: fine) {
  .footer .main-footer__content-wrapper .main-footer__list-wrapper .list-main-footer .list-main-footer__item .list-main-footer__link:hover::after {
    width: 100%;
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
  }
}
.footer .social-media-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (min-width: 81.375em) {
  .footer .social-media-footer {
    row-gap: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 81.375em) {
  .footer .social-media-footer {
    row-gap: clamp(1.25rem, calc(0.8426680244rem + 2.0366598778vw), 2.5rem);
  }
}
@media (max-width: 20em) {
  .footer .social-media-footer {
    row-gap: 1.25rem;
  }
}
.footer .social-media-footer .social-media-footer__icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 0.9375rem;
}
@media (min-width: 81.375em) {
  .footer .social-media-footer .social-media-footer__icon-wrapper {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 81.375em) {
  .footer .social-media-footer .social-media-footer__icon-wrapper {
    -webkit-column-gap: clamp(0.625rem, calc(0.4213340122rem + 1.0183299389vw), 1.25rem);
       -moz-column-gap: clamp(0.625rem, calc(0.4213340122rem + 1.0183299389vw), 1.25rem);
            column-gap: clamp(0.625rem, calc(0.4213340122rem + 1.0183299389vw), 1.25rem);
  }
}
@media (max-width: 20em) {
  .footer .social-media-footer .social-media-footer__icon-wrapper {
    -webkit-column-gap: 0.625rem;
       -moz-column-gap: 0.625rem;
            column-gap: 0.625rem;
  }
}
.footer .social-media-footer .social-media-footer__icon-wrapper .social-media-footer__media-icon {
  width: 2rem;
  aspect-ratio: 1/1;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
@media (any-hover: hover) and (pointer: fine) {
  .footer .social-media-footer .social-media-footer__icon-wrapper .social-media-footer__media-icon:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
  }
}
.footer .social-media-footer .social-media-footer__icon-wrapper .social-media-footer__media-icon img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.footer .social-media-footer .social-media-footer__link {
  max-width: 13.375rem;
}
@media (max-width: 45.68625em) {
  .footer .main-footer__line {
    display: none;
  }
}
@media (max-width: 43.18625em) {
  .footer .list-main-footer {
    display: none;
  }
}
@media (max-width: 28.12375em) {
  .footer .main-footer__content-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .main-footer__content-wrapper .social-media-footer__title {
    text-align: center;
  }
  .footer .main-footer__content-wrapper .social-media-footer__icon-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .main-footer__content-wrapper .social-media-footer__link {
    -ms-flex-item-align: center;
        align-self: center;
    min-width: 18.75rem;
  }
}

main {
  padding-top: 9.5625rem;
}
main .hero-section {
  padding-top: 7.75rem;
}
@media (min-width: 81.375em) {
  main .hero-section {
    padding-bottom: 5.5rem;
  }
}
@media (min-width: 20em) and (max-width: 81.375em) {
  main .hero-section {
    padding-bottom: clamp(3.3125rem, calc(2.5996690428rem + 3.5641547862vw), 5.5rem);
  }
}
@media (max-width: 20em) {
  main .hero-section {
    padding-bottom: 3.3125rem;
  }
}
main .hero-section .hero-section__container {
  max-width: 81.375rem;
}
main .hero-section .hero-section__content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
  row-gap: 1.25rem;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .hero-section .hero-section__content-wrapper::before {
  content: "";
  right: 90%;
  top: 0;
  background: url("../img/main-section-vector.svg") no-repeat;
  background-position: left left;
  background-size: contain;
  position: absolute;
}
@media (min-width: 81.375em) {
  main .hero-section .hero-section__content-wrapper::before {
    width: 14.875rem;
  }
}
@media (min-width: 20em) and (max-width: 81.375em) {
  main .hero-section .hero-section__content-wrapper::before {
    width: clamp(9.375rem, calc(7.5827393075rem + 8.9613034623vw), 14.875rem);
  }
}
@media (max-width: 20em) {
  main .hero-section .hero-section__content-wrapper::before {
    width: 9.375rem;
  }
}
@media (min-width: 81.375em) {
  main .hero-section .hero-section__content-wrapper::before {
    height: 35.0625rem;
  }
}
@media (min-width: 20em) and (max-width: 81.375em) {
  main .hero-section .hero-section__content-wrapper::before {
    height: clamp(28.125rem, calc(25.8643075356rem + 11.3034623218vw), 35.0625rem);
  }
}
@media (max-width: 20em) {
  main .hero-section .hero-section__content-wrapper::before {
    height: 28.125rem;
  }
}
main .hero-section .hero-section__content-wrapper .hero-section__img-wrapper {
  aspect-ratio: 490/426;
  position: relative;
}
@media (min-width: 81.375em) {
  main .hero-section .hero-section__content-wrapper .hero-section__img-wrapper {
    width: 30.625rem;
  }
}
@media (min-width: 20em) and (max-width: 81.375em) {
  main .hero-section .hero-section__content-wrapper .hero-section__img-wrapper {
    width: clamp(18.125rem, calc(14.0516802444rem + 20.366598778vw), 30.625rem);
  }
}
@media (max-width: 20em) {
  main .hero-section .hero-section__content-wrapper .hero-section__img-wrapper {
    width: 18.125rem;
  }
}
main .hero-section .hero-section__content-wrapper .hero-section__img-wrapper::before {
  content: "";
  position: absolute;
  bottom: -100px;
  left: -100px;
  background: url("../img/main-photo-vector.svg") no-repeat center;
  background-size: cover;
  z-index: -1;
}
@media (min-width: 81.375em) {
  main .hero-section .hero-section__content-wrapper .hero-section__img-wrapper::before {
    width: 45.9375rem;
  }
}
@media (min-width: 20em) and (max-width: 81.375em) {
  main .hero-section .hero-section__content-wrapper .hero-section__img-wrapper::before {
    width: clamp(31.25rem, calc(26.4638492872rem + 23.9307535642vw), 45.9375rem);
  }
}
@media (max-width: 20em) {
  main .hero-section .hero-section__content-wrapper .hero-section__img-wrapper::before {
    width: 31.25rem;
  }
}
@media (min-width: 81.375em) {
  main .hero-section .hero-section__content-wrapper .hero-section__img-wrapper::before {
    height: 52.8125rem;
  }
}
@media (min-width: 20em) and (max-width: 81.375em) {
  main .hero-section .hero-section__content-wrapper .hero-section__img-wrapper::before {
    height: clamp(37.5rem, calc(32.5101832994rem + 24.9490835031vw), 52.8125rem);
  }
}
@media (max-width: 20em) {
  main .hero-section .hero-section__content-wrapper .hero-section__img-wrapper::before {
    height: 37.5rem;
  }
}
main .hero-section .hero-section__content-wrapper .hero-section__img-wrapper img {
  border: 0.0625rem solid #000;
  background: #a3a3a3;
  -webkit-box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
  border-radius: 6.25rem 6.25rem 6.25rem 15rem;
  width: 100%;
  height: 100%;
}
main .hero-section .hero-section__content-wrapper .hero-section__text-wrapper {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  color: #fff;
  font-weight: 700;
  line-height: 1.2;
}
@media (min-width: 81.375em) {
  main .hero-section .hero-section__content-wrapper .hero-section__text-wrapper {
    -ms-flex-preferred-size: 28.75rem;
        flex-basis: 28.75rem;
  }
}
@media (min-width: 20em) and (max-width: 81.375em) {
  main .hero-section .hero-section__content-wrapper .hero-section__text-wrapper {
    -ms-flex-preferred-size: clamp(16.25rem, calc(12.1766802444rem + 20.366598778vw), 28.75rem);
        flex-basis: clamp(16.25rem, calc(12.1766802444rem + 20.366598778vw), 28.75rem);
  }
}
@media (max-width: 20em) {
  main .hero-section .hero-section__content-wrapper .hero-section__text-wrapper {
    -ms-flex-preferred-size: 16.25rem;
        flex-basis: 16.25rem;
  }
}
main .hero-section .hero-section__content-wrapper .hero-section__text-wrapper .hero-section__title {
  text-transform: capitalize;
  margin-bottom: 2.25rem;
}
@media (min-width: 81.375em) {
  main .hero-section .hero-section__content-wrapper .hero-section__text-wrapper .hero-section__title {
    font-size: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 81.375em) {
  main .hero-section .hero-section__content-wrapper .hero-section__text-wrapper .hero-section__title {
    font-size: clamp(1.5rem, calc(1.1741344196rem + 1.6293279022vw), 2.5rem);
  }
}
@media (max-width: 20em) {
  main .hero-section .hero-section__content-wrapper .hero-section__text-wrapper .hero-section__title {
    font-size: 1.5rem;
  }
}
main .hero-section .hero-section__content-wrapper .hero-section__text-wrapper .hero-section__title span {
  background: linear-gradient(269deg, #C0B7E8 -3.72%, #8176AF 82.17%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (min-width: 81.375em) {
  main .hero-section .hero-section__content-wrapper .hero-section__text-wrapper .hero-section__title span {
    font-size: 2.875rem;
  }
}
@media (min-width: 20em) and (max-width: 81.375em) {
  main .hero-section .hero-section__content-wrapper .hero-section__text-wrapper .hero-section__title span {
    font-size: clamp(1.875rem, calc(1.5491344196rem + 1.6293279022vw), 2.875rem);
  }
}
@media (max-width: 20em) {
  main .hero-section .hero-section__content-wrapper .hero-section__text-wrapper .hero-section__title span {
    font-size: 1.875rem;
  }
}
main .hero-section .hero-section__content-wrapper .hero-section__text-wrapper .hero-section__text {
  font-weight: 400;
  margin-bottom: 4.125rem;
}
@media (min-width: 81.375em) {
  main .hero-section .hero-section__content-wrapper .hero-section__text-wrapper .hero-section__text {
    font-size: 1rem;
  }
}
@media (min-width: 20em) and (max-width: 81.375em) {
  main .hero-section .hero-section__content-wrapper .hero-section__text-wrapper .hero-section__text {
    font-size: clamp(0.75rem, calc(0.6685336049rem + 0.4073319756vw), 1rem);
  }
}
@media (max-width: 20em) {
  main .hero-section .hero-section__content-wrapper .hero-section__text-wrapper .hero-section__text {
    font-size: 0.75rem;
  }
}
main .hero-section .hero-section__content-wrapper .hero-section__text-wrapper .hero-section__button {
  min-width: 13.375rem;
  position: relative;
}
main .hero-section .hero-section__content-wrapper .hero-section__text-wrapper .hero-section__button::before {
  content: "";
  position: absolute;
  width: 6.25rem;
  height: 6.25rem;
  top: -59%;
  left: 100%;
  background: url("../img/arrow.svg") no-repeat;
  pointer-events: none;
  -webkit-transition: left 0.5s;
  transition: left 0.5s;
}
@media (any-hover: hover) and (pointer: fine) {
  main .hero-section .hero-section__content-wrapper .hero-section__text-wrapper .hero-section__button:hover::before {
    left: 90%;
  }
}
@media (max-width: 60.06125em) {
  main .hero-section__content-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  main .hero-section__content-wrapper::before {
    display: none;
  }
  main .hero-section__text-wrapper {
    text-align: center;
  }
  main .hero-section__text-wrapper .hero-section__button {
    -ms-flex-item-align: center;
        align-self: center;
    width: 80%;
  }
  main .hero-section__text-wrapper .hero-section__button::before {
    display: none;
  }
}
@media (max-width: 59.43625em) {
  main {
    padding-top: 6.875rem;
  }
}
main .contacts-information {
  padding-bottom: 5.875rem;
}
main .contacts-information .contacts-information__container {
  max-width: 81.375rem;
}
main .contacts-information .contacts-information__container .contacts-information__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 40;
  background: radial-gradient(2900.76% 50.13% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211E2E 100%);
  border-radius: 5.625rem;
  -webkit-box-shadow: 0 0.25rem 0.25rem 0 rgba(192, 183, 232, 0.01);
          box-shadow: 0 0.25rem 0.25rem 0 rgba(192, 183, 232, 0.01);
  color: #fff;
  overflow: auto;
}
main .contacts-information .contacts-information__container .contacts-information__content .contacts-information__slider-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
  row-gap: 0.625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 81.375em) {
  main .contacts-information .contacts-information__container .contacts-information__content .contacts-information__slider-wrapper {
    padding-block: 1.5625rem;
  }
}
@media (min-width: 20em) and (max-width: 81.375em) {
  main .contacts-information .contacts-information__container .contacts-information__content .contacts-information__slider-wrapper {
    padding-block: clamp(0.625rem, calc(0.3195010183rem + 1.5274949084vw), 1.5625rem);
  }
}
@media (max-width: 20em) {
  main .contacts-information .contacts-information__container .contacts-information__content .contacts-information__slider-wrapper {
    padding-block: 0.625rem;
  }
}
@media (min-width: 81.375em) {
  main .contacts-information .contacts-information__container .contacts-information__content .contacts-information__slider-wrapper {
    padding-inline: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 81.375em) {
  main .contacts-information .contacts-information__container .contacts-information__content .contacts-information__slider-wrapper {
    padding-inline: clamp(0.625rem, calc(0.0140020367rem + 3.0549898167vw), 2.5rem);
  }
}
@media (max-width: 20em) {
  main .contacts-information .contacts-information__container .contacts-information__content .contacts-information__slider-wrapper {
    padding-inline: 0.625rem;
  }
}
main .contacts-information .contacts-information__container .contacts-information__content .contacts-information__slider-wrapper .element-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 0.625rem;
}
@media (min-width: 81.375em) {
  main .contacts-information .contacts-information__container .contacts-information__content .contacts-information__slider-wrapper .element-information {
    -webkit-column-gap: 1.5625rem;
       -moz-column-gap: 1.5625rem;
            column-gap: 1.5625rem;
  }
}
@media (min-width: 20em) and (max-width: 81.375em) {
  main .contacts-information .contacts-information__container .contacts-information__content .contacts-information__slider-wrapper .element-information {
    -webkit-column-gap: clamp(0.3125rem, calc(-0.0948319756rem + 2.0366598778vw), 1.5625rem);
       -moz-column-gap: clamp(0.3125rem, calc(-0.0948319756rem + 2.0366598778vw), 1.5625rem);
            column-gap: clamp(0.3125rem, calc(-0.0948319756rem + 2.0366598778vw), 1.5625rem);
  }
}
@media (max-width: 20em) {
  main .contacts-information .contacts-information__container .contacts-information__content .contacts-information__slider-wrapper .element-information {
    -webkit-column-gap: 0.3125rem;
       -moz-column-gap: 0.3125rem;
            column-gap: 0.3125rem;
  }
}
main .contacts-information .contacts-information__container .contacts-information__content .contacts-information__slider-wrapper .element-information:not(:last-of-type)::before {
  content: "";
  width: 0.0625rem;
  border-radius: 0.125rem;
  background-color: #c0b7e8;
  background-color: rgba(192, 183, 232, 0.33);
}
@media (min-width: 81.375em) {
  main .contacts-information .contacts-information__container .contacts-information__content .contacts-information__slider-wrapper .element-information:not(:last-of-type)::before {
    height: 7.28125rem;
  }
}
@media (min-width: 20em) and (max-width: 81.375em) {
  main .contacts-information .contacts-information__container .contacts-information__content .contacts-information__slider-wrapper .element-information:not(:last-of-type)::before {
    height: clamp(6.25rem, calc(5.9139511202rem + 1.6802443992vw), 7.28125rem);
  }
}
@media (max-width: 20em) {
  main .contacts-information .contacts-information__container .contacts-information__content .contacts-information__slider-wrapper .element-information:not(:last-of-type)::before {
    height: 6.25rem;
  }
}
main .contacts-information .contacts-information__container .contacts-information__content .contacts-information__slider-wrapper .element-information .element-information__title {
  font-weight: 700;
  margin-bottom: 0.625rem;
  line-height: 1.2;
}
@media (min-width: 81.375em) {
  main .contacts-information .contacts-information__container .contacts-information__content .contacts-information__slider-wrapper .element-information .element-information__title {
    font-size: 1.5rem;
  }
}
@media (min-width: 20em) and (max-width: 81.375em) {
  main .contacts-information .contacts-information__container .contacts-information__content .contacts-information__slider-wrapper .element-information .element-information__title {
    font-size: clamp(0.625rem, calc(0.3398676171rem + 1.4256619145vw), 1.5rem);
  }
}
@media (max-width: 20em) {
  main .contacts-information .contacts-information__container .contacts-information__content .contacts-information__slider-wrapper .element-information .element-information__title {
    font-size: 0.625rem;
  }
}
main .contacts-information .contacts-information__container .contacts-information__content .contacts-information__slider-wrapper .element-information .element-information__link {
  font-weight: 400;
  line-height: 1.2;
}
@media (min-width: 81.375em) {
  main .contacts-information .contacts-information__container .contacts-information__content .contacts-information__slider-wrapper .element-information .element-information__link {
    font-size: 0.875rem;
  }
}
@media (min-width: 20em) and (max-width: 81.375em) {
  main .contacts-information .contacts-information__container .contacts-information__content .contacts-information__slider-wrapper .element-information .element-information__link {
    font-size: clamp(0.4375rem, calc(0.2949338086rem + 0.7128309572vw), 0.875rem);
  }
}
@media (max-width: 20em) {
  main .contacts-information .contacts-information__container .contacts-information__content .contacts-information__slider-wrapper .element-information .element-information__link {
    font-size: 0.4375rem;
  }
}
main .contacts-information .contacts-information__container .contacts-information__content .contacts-information__slider-wrapper .element-information .element-information__icon {
  aspect-ratio: 1/1;
}
@media (min-width: 81.375em) {
  main .contacts-information .contacts-information__container .contacts-information__content .contacts-information__slider-wrapper .element-information .element-information__icon {
    width: 4.375rem;
  }
}
@media (min-width: 20em) and (max-width: 81.375em) {
  main .contacts-information .contacts-information__container .contacts-information__content .contacts-information__slider-wrapper .element-information .element-information__icon {
    width: clamp(1.875rem, calc(1.0603360489rem + 4.0733197556vw), 4.375rem);
  }
}
@media (max-width: 20em) {
  main .contacts-information .contacts-information__container .contacts-information__content .contacts-information__slider-wrapper .element-information .element-information__icon {
    width: 1.875rem;
  }
}
main .contacts-information .contacts-information__container .contacts-information__content .contacts-information__slider-wrapper .element-information .element-information__icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
main .contacts-information .contacts-information__container .contacts-information__content .contacts-information__next-btn, main .contacts-information .contacts-information__container .contacts-information__content .contacts-information__prev-btn {
  opacity: 0;
  visibility: hidden;
  cursor: not-allowed;
}
@media (max-width: 66.62375em) {
  main .contacts-information .element-information::before {
    display: none;
  }
}
@media (max-width: 59.37375em) {
  main .contacts-information .contacts-information__content .contacts-information__slider-wrapper {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  main .contacts-information .contacts-information__content .contacts-information__slider-wrapper .element-information {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-preferred-size: 18.75rem;
        flex-basis: 18.75rem;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-left: 1.25rem;
  }
  main .contacts-information .contacts-information__content .contacts-information__slider-wrapper .element-information:last-of-type {
    padding-right: 1.25rem;
  }
}
@media (max-width: 34.43625em) {
  main .contacts-information .contacts-information__container .contacts-information__content {
    max-height: 6.8125rem;
    overflow: hidden;
  }
  main .contacts-information .contacts-information__container .contacts-information__content .contacts-information__slider-wrapper {
    width: 100%;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  main .contacts-information .contacts-information__container .contacts-information__content .contacts-information__next-btn, main .contacts-information .contacts-information__container .contacts-information__content .contacts-information__prev-btn {
    position: absolute;
    top: 40%;
    opacity: 1;
    visibility: visible;
    cursor: pointer;
    width: 1.875rem;
    height: 1.875rem;
  }
  main .contacts-information .contacts-information__container .contacts-information__content .contacts-information__prev-btn {
    background: url("../img/arrow-contacts-icon.svg") no-repeat;
    background-size: cover;
    left: 0.6875rem;
  }
  main .contacts-information .contacts-information__container .contacts-information__content .contacts-information__next-btn {
    right: 0.6875rem;
    background: url("../img/arrow-contacts-icon2.svg") no-repeat;
    background-size: cover;
  }
  main .contacts-information .contacts-information__container .contacts-information__content .element-information {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-inline: 0;
    padding-left: 0;
    -ms-flex-item-align: center;
        align-self: center;
  }
  main .contacts-information .contacts-information__container .contacts-information__content .element-information:last-of-type {
    padding-right: 0;
  }
  main .contacts-information .contacts-information__container .contacts-information__content .element-information .element-information__title {
    display: none;
  }
  main .contacts-information .contacts-information__container .contacts-information__content .element-information .element-information__icon {
    width: 4.375rem;
  }
  main .contacts-information .contacts-information__container .contacts-information__content .element-information .element-information__link {
    font-size: 0.875rem;
  }
}

body {
  background-color: #302C42;
}
body.scroll-lock {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  overflow: clip;
  min-height: 100%;
  font-family: "Montserrat", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrapper .page {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  margin: 0 auto;
}