@import url("reset.css");
.wrapper {
  overflow: clip;
  min-height: 100%;
}
.header,
.footer {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 500;
  padding: 40px;
  text-align: center;
  background-color: #ffe066;
  padding-bottom: 50px;
}
.footer {
  margin-top: 350px;
}
[class*="__container"] {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
section {
  padding-bottom: 20px;
}
.section-practice {
  background-color: rgb(35, 34, 34);
  padding: 50px;
}
.section-practice__container {
  max-width: 80%;
}
.container-practice__element {
  display: inline-block;
  width: 100%;
  background-color: #ffe066;
  border-radius: 10px;
  padding: 100px;
  transition: all 0.5s;
}
.section-practice__container:hover .container-practice__element {
  background-color: #9652df;
  color: black;
  width: 50%;
  transition: background-color 1s 0s linear,
    width 5s 1s cubic-bezier(0, 1.38, 0.88, -0.39);
}
.section-car {
  position: relative;
  background-color: black;
  transform-style: preserve-3d;
}
.section-car__title,
.element__title {
  color: white;
  font-size: 40px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.section-car::before,
.section-car::after {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  top: 20px;
  left: 0;
  background-color: rgb(255, 255, 255);
  transform-origin: center center;
}
.section-car::after {
  content: "";
  top: 20px;
  left: 40px;
  background-color: black;
  transform: rotate(-60deg);
  animation: rotate 5s linear infinite;
}

.section-car__star {
  position: relative;
}
.star__item {
  display: inline-block;
  margin-left: 50px;
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 80px;
  left: 200px;
  background-color: azure;
  animation: twink 10s linear infinite;
}
.star__item:nth-child(3n + 1) {
  top: 50px;
  left: 100px;
}
.star__item:nth-child(3n + 2) {
  top: 200px;
  left: 300;
}
.star__item:nth-child(3n) {
  top: 350px;
  left: 200px;
}
.section-car__container {
  width: 2030px;
  perspective: 600px;
  perspective-origin: top center;
  transform-style: preserve-3d;
  padding: 100px;
  padding-top: 300px;
}
@keyframes road-move {
  0% {
    left: 0%;
  }
  50% {
    left: 50%;
  }
  100% {
    left: 100%;
  }
}
@keyframes car-move {
  0% {
    left: 2000px;
  }
  50% {
    left: 500px;
  }
  75% {
    left: 800px;
    animation: light 1s linear infinite;
  }
  100% {
    left: -600px;
  }
}
@keyframes wheel-rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes light {
  0%,
  69% {
    opacity: 0;
    visibility: hidden;
  }
  70%,
  72% {
    opacity: 1;
    visibility: visible;
  }
  73% {
    opacity: 0;
    visibility: hidden;
  }
  74%,
  75% {
    opacity: 1;
    visibility: visible;
  }
  76%,
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes lights {
  0%,
  69% {
    background-color: rgb(179, 208, 208);
  }
  70%,
  72% {
    background-color: #ffe066;
  }
  73% {
    background-color: rgb(179, 208, 208);
  }
  74%,
  75% {
    background-color: #ffe066;
  }
  76%,
  100% {
    background-color: rgb(179, 208, 208);
  }
}
@keyframes rotate {
  0% {
    transform: translate(0, 10px);
  }
  50% {
    transform: translate(0, 0px);
  }
  100% {
    transform: translate(0, 10px);
  }
}
@keyframes twink {
  0% {
    opacity: 0.3;
  }
  10% {
    opacity: 0.5;
  }
  20% {
    opacity: 0.7;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 0.7;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.3;
  }
  70% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

.container__road {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 400px;
  padding: 40px;
  background-color: rgb(45, 41, 41);
  transform: rotate3d(1, 0, 0, 25deg) translateZ(180px);
  z-index: 0;
}
.road__markup {
  position: absolute;
  top: 50%;
  left: 0%;
  width: 100px;
  height: 10px;
  background-color: white;
  transform: rotate3d(1, 0, 0, 30deg) translateZ(50px);
  animation: road-move 0.1s linear infinite;
  z-index: 1;
}

.container__car {
  position: relative;
  transform: translateZ(150px);
  left: 1000px;
  display: inline-block;
  animation: car-move 10s linear infinite;
}

.car__body {
  position: relative;
  width: 600px;
  height: 200px;
  background-color: rgb(11, 10, 10);
  border-radius: 100% 30% 10% 10% / 110% 90% 10% 10%;
  z-index: 1;
}
.car__body::after,
.car__body::before {
  content: "";
  background-color: rgb(68, 64, 64);
  position: absolute;
  width: 120px;
  height: 120px;
  top: 70%;
  left: 39px;
  border-radius: 50%;

  z-index: 2;
}
.car__body::before {
  content: "";
  left: auto;
  right: 39px;
}
.car__wheel,
.car__wheel--back {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50px;
  top: 80%;
  background-color: rgb(92, 91, 91);
  border-radius: 50%;
  border: 50px ridge black;
  outline: 10px solid black;
  animation: wheel-rotate 0.1s linear infinite;
  z-index: 3;
}
.car__wheel--back {
  left: auto;
  right: 50px;
  z-index: 5;
}
.car__window,
.car__window--back {
  width: 140px;
  height: 60px;
  background-color: lightgray;
  position: absolute;
  top: 50px;
  left: 150px;
  opacity: 0.5;
  z-index: 3;
  border-radius: 90% 5% 5% 5%;
  border-top: 3px solid rgb(43, 42, 42);
}
.car__window--back {
  left: auto;
  right: 100px;
  border-radius: 5% 50% 20% 5%;
}
.window-car__smile {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 5px;
  left: 70px;
  border-radius: 50%;
  background-color: rgb(255, 255, 0);
}
.smile__glasses {
  position: absolute;
  top: 15px;
  left: 10px;
  width: 30px;
  height: 2px;
  background-color: black;
}
.smile__glasses::after,
.smile__glasses::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 3px;
  width: 10px;
  height: 5px;
  border-radius: 0% 0% 30% 30%;
  background-color: black;
}
.smile__glasses::before {
  left: auto;
  right: 3px;
}
.smile__mouth {
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: rgb(222, 222, 10);
  bottom: 10px;
  right: 10px;
}
.car__headlights {
  position: absolute;
  width: 50px;
  height: 30px;
  bottom: 25%;
  left: 3%;
  border-radius: 80% 15% 10% 10%;
  transform: rotate(-15deg);
  background-color: azure;
  z-index: 3;
}
.headlights__lights,
.headlights__lights--big {
  position: absolute;
  left: 5px;
  top: 15px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(179, 208, 208);
  animation: lights 10s linear infinite;
}
.headlights__lights--big {
  width: 20px;
  height: 20px;
  left: 20px;
  top: 7px;
}
.headlights__light {
  position: absolute;
  top: 20px;
  right: 80px;
  width: 150px;
  height: 50px;
  border-radius: 15% 50% 50% 15%;
  background-color: #ffe066;
  opacity: 0;
  visibility: hidden;
  animation: light 10s linear infinite;
}
.car__back-light {
  position: absolute;
  right: 20px;
  top: 85px;
  height: 50px;
  width: 50px;
  transform: rotate(-1deg);
  background-color: rgb(255, 35, 35);
  border-radius: 80% 10% 5% 10%;
  z-index: 3;
}
.light-back__light,
.light-back__light--big {
  position: absolute;
  top: 30px;
  left: 25px;
  width: 15px;
  height: 10px;
  background-color: orange;
  border-radius: 20%;
}
.light-back__light--big {
  top: 5px;
  left: 23px;
  width: 20px;
  height: 20px;
  background-color: rgb(193, 24, 24);
  border-radius: 50%;
}
