@import url("reset.css");
@import url("fonts.css");
body {
  background-color: rgb(74, 72, 72);
}
.wrapper {
  min-height: 100%;
  overflow: clip;
}
[class*="__container"] {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.header {
  position: fixed;
  top: 0;
  left: 10%;
  right: 10%;
  z-index: 100;
  background-color: #ffe066;
  font-size: 0;
  padding: 20px;
  border-radius: 20px;
}
.header__navigation {
  color: #2c2c2c;
  font-size: 25px;
  text-align: center;
  font-family: "Inter", sans-serif;
}
.list-navigation__item {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  z-index: 100;
}
.list-navigation__link {
  border-radius: 20px;
  padding: 10px;
}
.list-navigation__link::after {
  content: "";
  display: block;
  margin-top: 5px;
  background-color: #ffffff;
  height: 3px;
  width: 10%;
  opacity: 0;
  visibility: hidden;
}
.list-navigation__item:hover .list-navigation__link {
  background-color: #ffcc33;
  color: #ffffff;
}
.list-navigation__link:hover::after {
  visibility: visible;
  opacity: 1;
  transition: 0.7s ease;
  width: 100%;
}
.list-navigation__item:not(:last-child) {
  margin-right: 10px;
}
.list-navigation__submenu {
  position: absolute;
  top: 70px;
  left: -10px;
  z-index: 1;
  border-radius: 0 0 10px 10px;
}
.submenu-list::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0;
  height: 20px;
  width: 100%;
  /* background-color: red; */
}
.submenu-list {
  background-color: #ffe066;
  max-width: 200px;
  padding: 20px;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s ease;
}
.list-navigation__item--submenu:hover .submenu-list {
  opacity: 1;
  visibility: visible;
}
.submenu-list__item:not(:last-child) {
  margin-bottom: 15px;
}
.submenu-list__item:hover {
  color: #ffffff;
  transition: 0.3s ease;
}
.page {
  margin-top: 100px;
}
section {
  padding-bottom: 20px;
}
.featured-products {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #fff;
}
.featured-products__container {
  width: 1350px;
  font-family: "Poppins", sans-serif;
  font-size: 0;
}
.featured-products__container .cards-container__card {
  display: inline-block;
}
.featured-products__title {
  color: #002603;
  font-size: 40px;
  text-align: center;
  font-weight: 600;
  line-height: 1.2;
}
.featured-products__title:not(:last-child) {
  margin-bottom: 50px;
}
.card {
  width: 20%;
}
.cards-container__card {
  position: relative;
}
.card__link-img {
  margin: 5px;
}
.information-card__content-container {
  width: 60%;
  vertical-align: middle;
}
.information-card {
  line-height: 1.5;
  padding: 12px;
}
.information-card__title {
  color: #4d4d4d;
  font-size: 14px;
}
.information-card__price,
.information-card__sale {
  position: relative;
  color: #002603;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 6px;
}
.information-card__sale--first-price {
  color: #999;
  font-weight: 400;
  text-decoration: line-through;
}
.card__information > * {
  display: inline-block;
}

.card__eye-hover,
.card__like-hover {
  opacity: 0;
  visibility: hidden;
}
.card__eye--white,
.card__like--white {
  opacity: 0;
  visibility: hidden;
}
.card:hover {
  outline: 1px solid #2c742f;
  box-shadow: 0px 0px 12px 0px rgba(32, 181, 38, 0.32);
}
.card:hover .information-card__title {
  color: #2c742f;
}
.basket-card__link,
.card__eye-hover,
.card__like-hover {
  position: relative;
  top: 20px;
  left: 45px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #f2f2f2;
}
.card__eye-hover,
.card__like-hover {
  position: absolute;
}
.card__like-hover,
.card__eye-hover {
  top: 5%;
  left: 80%;
}
.card__eye-hover {
  top: 20%;
}
.basket-card__link > *,
.card__eye-hover > *,
.card__like-hover > * {
  position: absolute;
  top: 25%;
  left: 25%;
}
.card__eye-hover:hover,
.card__like-hover:hover {
  background-color: #00b207;
  transition: 0.3s;
}
.card__eye-hover:hover .card__eye--white,
.card__like-hover:hover .card__like--white {
  opacity: 1;
  visibility: visible;
  transition: 0.1s;
}
.card:hover .card__eye-hover,
.card:hover .card__like-hover {
  opacity: 1;
  visibility: visible;
}
.basket-card__icon--green {
  opacity: 0;
  visibility: hidden;
}

.basket-card__link:hover {
  background-color: #00b207;
  transition: 0.3s;
}

.basket-card__link:hover .basket-card__icon--green {
  opacity: 1;
  visibility: visible;
  transition: 0.1s;
}
.card__sale {
  position: absolute;
  top: 5%;
  left: 5%;
  display: inline-block;
  color: #fff;
  font-size: 14px;
  line-height: 1.5;
}
.card__sale p {
  padding: 3px 8px;
  background-color: #ea4b48;
  border-radius: 4px;
}
.card__sale p:not(:last-child) {
  margin-bottom: 5px;
}
.business {
  background-color: #5a54f2;
  position: relative;
}
.business::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  border: 20px solid #fff;
  border-radius: 0 0 50% 50%;
}
.business::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  border: 20px solid #231f8b;
  border-radius: 100% 100% 0 0;
}
.business__container {
  max-width: 1540px;
  font-size: 0;
}
.content__picture {
  position: relative;
}
.picture-container__img {
  position: relative;
  z-index: 10;
  width: 430px;
  border-radius: 20px;
  margin-right: 70px;
  box-shadow: 22px 42px 44px 0px rgba(0, 0, 0, 0.3);
}
.picture-container__img--purple-shadow {
  box-shadow: -25px 20px 44px 0px rgba(84, 48, 209, 0.4);
}
.about-container__content {
  max-width: 600px;
  vertical-align: middle;
}
.about-content__title,
.about-content__text {
  color: #fff;
  font-family: "Circular Std", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
}
.about-content__title:not(:last-child) {
  margin-bottom: 14px;
}

.about-content__text,
.about-content__link {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
}
.about-content__text:not(:last-child) {
  margin-bottom: 40px;
}
.about-content {
  padding-top: 40px;
}
.about-content--bottom {
	padding-bottom: 40px;
 }

.about-content__link {
  color: #fff;
  max-width: 260px;
  font-weight: 500;
  line-height: 1.2;
  padding: 22px 26px;
  background-color: #f35b09;
  border-radius: 60px;
}
.about-content__link:hover {
  background-color: #d94f04;
}
.business__content-container * {
  display: inline-block;
}
.picture-container__img--margin-left {
  margin-left: 70px;
  margin-right: 0;
}
.business__content-container:not(:last-child) {
  margin-bottom: 90px;
}
.business__content-container {
  position: relative;
}
.business__content-container--right {
  left: 250px;
}
.business__content-container--elips03::before {
  content: "";
  width: 65px;
  height: 65px;
  border: 5px solid #ffba49;
  border-radius: 100%;
  position: absolute;
  top: 20%;
  left: -6%;
}
.business__content-container--elips04::before {
  content: "";
  width: 65px;
  height: 65px;
  border: 5px solid #ffba49;
  border-radius: 100%;
  position: absolute;
  top: -6%;
  left: 50%;
  z-index: 11;
}
.content__picture--points01::before {
  content: "";
  position: absolute;
  top: 75%;
  right: 75%;
  z-index: 1;
  width: 214px;
  height: 475px;
  background: url("../img/points-01.webp") no-repeat;
}
.content__picture--points02::before {
  content: "";
  position: absolute;
  bottom: 25%;
  left: 95%;
  z-index: 1;
  width: 214px;
  height: 220px;
  background: url("../img/points-02.webp") no-repeat;
}
.content__picture--elips01::after {
  content: "";
  width: 401px;
  height: 401px;
  border-radius: 100%;
  border: 5px solid #ffba49;
  z-index: 1;
  position: absolute;
  top: 37%;
  right: 40%;
}
.content__picture--elips02::after {
  content: "";
  width: 262px;
  height: 262px;
  border-radius: 100%;
  border: 5px solid #ffba49;
  z-index: 1;
  position: absolute;
  bottom: 56%;
  left: 73%;
}
.footer {
  font-family: "Inter", sans-serif;
  font-size: 30px;
  color: #2c2c2c;
  text-align: center;
  padding: 40px;
  background-color: #ffe066;
}
