@import url("reset.css");
.wrapper {
  overflow: clip;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #5e5373;
  font-family: "Poppins", sans-serif;
}
[class*="__container"] {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.wrapper .page {
  flex-grow: 1;
}
.header,
.footer {
  font-size: 30px;
  text-align: center;
  padding: 20px;
}
.header {
  padding-bottom: 40px;
  background-color: #18b5a4;
  color: white;
}
.footer {
  background-color: #ece89d;
}
.practice {
  padding-top: 30px;
}
.practice {
  background-color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
}
.practice__container {
  max-width: 1350px;
}
.container__title {
  text-align: center;
  font-size: 30px;
  color: black;
  margin-bottom: 30px;
}
.list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  padding: 40px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 8px 40px 0px rgba(0, 38, 3, 0.08);
  gap: 30px 0;
}
.item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-basis: 250px;
  flex-wrap: wrap;
  flex-grow: 1;
  gap: 0 20px;
}
.item__img {
  width: 40px;
  height: 40px;
  align-self: center;
}
.content-item {
  display: flex;
  flex-direction: column;
}
.content-item__title {
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 10px;
}
.content-item__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #999;
}
.bannar {
  background-color: #fff;
  padding-top: 25px;
  padding-bottom: 25px;
}
.bannar__container {
  max-width: 1350px;
}
.content-container {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}
.card-right {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 25px;
  width: 420px;
  flex-grow: 1;
}
.fresh-healthy {
  display: flex;
  flex: 1 870px;
  flex-direction: column;
  justify-content: center;
  padding: 155px 216px 250px 40px;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(99deg, rgba(0, 0, 0, 0.6) 10.4%, rgba(0, 0, 0, 0) 59.43%), url("../img/banner-01.webp") lightgray center/ 100% 100% no-repeat;
}
.fresh-healthy__items {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.fresh-healthy__title {
  color: #fff;
  font-size: 48px;
  font-weight: 600;
  line-height: 1.2;
}
.link {
  align-self: start;
  display: inline-block;
  padding: 16px 40px 16px 40px;
  background-color: #fff;
  border-radius: 53px;
  color: #00b207;
  font-weight: 600;
  line-height: 1.2;
  transition: all 0.5s;
}
.link:hover {
  color: #fff;
  background-color: #00b207;
  transition: all 0.8s;
}
.link__content::after,
.link-sale__content::after,
.link-content-product__content::after {
  content: "";
  display: inline-block;
  width: 15px;
  height: 13px;
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 10px;
  vertical-align: middle;
  transition: background-image 0.5s;
}
.link:hover .link__content::after {
  background-image: url("../img/arrow-02.svg");
  background-repeat: no-repeat;
  background-size: contain;
  transition: background-image 0.8s;
}
.sale,
.product-special {
  border-radius: 10px;
  flex-grow: 1;
  background: url("../img/banner-02.webp") lightgray center/cover no-repeat;
}

.sale {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-left: 30px;
  gap: 25px;
}

.product-special {
  background: url("../img/banner-03.webp") lightgray center/cover no-repeat;
}
.content-sale__title,
.content-sale__subtitle,
.content-product-special__best-deal {
  color: #1a1a1a;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.content-sale__subtitle,
.content-product-special__title {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.2;
  text-transform: none;
  letter-spacing: normal;
}
.content-sale__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: capitalize;
}
.content-sale {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.link-sale__content,
.link-content-product__content {
  color: #00b207;
  font-weight: 600;
  line-height: 1.2;
}
.link-sale:hover .link-sale__content,
.link-content-product:hover .link-content-product__content {
  text-decoration: underline;
}
.content-product-special__best-deal {
  color: #fff;
  text-align: center;
}
.content-product-special__title {
  color: #fff;
  text-align: center;
}
.content-product-special__conteiner {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.content-product-special {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.product-special {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content-product-special {
  align-items: center;
}
/*<------------------------------------------------- HW ---------------------------------------------------> */
.professional-faculty,
.best-faculty,
.acadamy-advantages {
  font-family: "Inter", sans-serif;
}
.professional-faculty {
  background-color: #412672;
  padding-top: 60px;
  padding-bottom: 100px;
}
.professional-faculty__container {
  max-width: 1230px;
}
.content-professional-faculty__title,
.content-professional-faculty__span-title {
  color: #fff;
  font-size: 38px;
  line-height: 1.2;
}
.content-professional-faculty__span-title {
  font-weight: 700;
}

.professional-faculty__content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.content-professional-faculty__cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card-container {
	display: flex;
	flex-direction: column;
  background-color: #fff;
  flex-basis: 387px;
  padding: 20px;
  transition: background-color 0.3s;
}
.card-container:hover{
	background-color: #FFBE48;
	transition: background-color 0.5s;
}
.content-card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 16px;
}
.content-card__img {
  height: 266px;
  width: 100%;
}
.content-card__title {
  color: #000;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.2;
}
.content-card__text,
.content-card__link {
  color: #4f4f4f;
  font-size: 15px;
  line-height: 1.2;
}
.content-card__link {
  color: #fe3f3f;
}
.content-card__link:hover{
	text-decoration: underline;
}
.content-card__text{
	flex-grow: 1;
}
.best-faculty {
  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 70px;
}
.best-faculty__container {
  max-width: 1230px;
}
.container-best-faculty__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 90px;
  align-items: center;
}
.container-best-faculty__content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  flex-basis: 520px;
  flex-grow: 1;
}
.list-best-faculty__item{
	column-gap: 20px;
}
.wrapper-best-faculty__img{
	height: 520px;
	width: 100%;
	margin-right: -170px;
}
.content-best-faculty__title,
.content-best-faculty__span,
.content-best-faculty__text {
  color: #412672;
  font-size: 34px;
  line-height: 1.2;
}
.content-best-faculty__span {
  font-weight: 700;
}
.content-best-faculty__text {
  font-size: 22px;
}
.content-best-faculty__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.list-best-faculty__item {
  display: inline-flex;
  align-items: center;
  color: #4f4f4f;
  font-size: 20px;
  line-height: 1.2;
}
.list-best-faculty__item::before {
  content: "";
  align-self: flex-start;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  background-image: url("../img/best-faculty-02.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}
.wrapper-best-faculty__img {
  max-width: 760px;
}
.acadamy-advantages {
  background-color: #412672;
}
.acadamy-advantages__container {
  max-width: 1230px;
}
.container-acadamy-advantages__content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding: 70px 10px;
}
.content-acadamy-advantages__title,
.content-acadamy-advantages__span,
.content-list-acadamy__title,
.content-list-acadamy__text {
  color: #fff;
  text-align: center;
  font-size: 24px;
  line-height: 1.2;
}
.content-acadamy-advantages__span {
  font-weight: 700;
}
.content-acadamy-advantages__list {
	width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.list-acadamy-advantages__item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  /* flex-grow: 1; */
}
.item-list-acadamy__img {
  width: 70px;
  height: 70px;
}
.item-list-acadamy__img--another-size {
  width: 80px;
  height: 70px;
}
.content-list-acadamy__title {
  font-weight: 700;
  line-height: 1.2;
}
.content-list-acadamy__text {
  font-size: 15px;
  line-height: 1.6;
}
