@import url("reset.css");
body{
	height: 100%;
}
.wrapper {
  overflow: clip;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
}
[class*="__container"] {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.page {
  flex-grow: 1;
}
.footer {
  padding: 30px;
  background-color: #f26522;
  color: #fff;
  text-align: center;
  font-size: 30px;
}
.header__container {
  max-width: 1230px;
}
.header {
  position: sticky;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.6);
  color: #000;
  padding-top: 28px;
  padding-bottom: 25px;
}
.header::before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	backdrop-filter: blur(113.6500015258789px);
}
.content-header {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}
.logo-header {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  flex-shrink: 0;
}
.logo-header__img{
	aspect-ratio: 1 / 1;
	width: 44px;
}
.logo-header__img > img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.logo-header__link,.list-header__link{
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
}
.list-header{
	display: flex;
	column-gap: 30px;
}
.list-header__link{
	font-size: 13px;
	font-weight: 500;
}
.button-burger{
	display: none;
}

.button-header {
  min-width: 176px;
  padding: 8px 30px;
  background-color: #f26522;
  border-radius: 999px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  background-image: url("../img/icon/arrow.svg");
  background-repeat: no-repeat;
  background-position: 122px;
  background-size: 24px 24px;
  align-content: center;
  transition: background-color 0.3s;
}
.button-header__link {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

@media (any-hover: hover) {
  .list-header__link:hover {
    text-decoration: underline;
  }
  .button-header:hover {
    background-color: #c55420;
    transition: background-color 0.5s;
  }
}
@media (max-width: 950.98px) {
  .list-header {
    gap: 15px;
  }
  .content-header {
    gap: 10px;
  }
}
@media (max-width: 869.98px) {
  .logo-header__link {
    font-size: 15px;
  }
  .button-header {
    min-width: 120px;
    padding: 8px 20px;
    background-position: 90px;
    background-size: 14px 14px;
  }
  .button-header__link,.list-header__link {
    font-size: 12px;
  }
}
@media (max-width: 767.98px) {
  .logo-header__link {
    display: none;
  }
  .list-header__link{
    font-size: 13px;
  }
}
@media (max-width: 647.98px) {
	.menu-header__body{
		opacity: 0;
		visibility: hidden;
		display: block;
		position: fixed;
		top: 97px;
		left: 100%;
		width: 100%;
		height: calc(100% - 97px);
		padding: 100px 20px 30px;
		background-color: #f26522;
		z-index: 3;
		overflow: auto;
		transition: all 0.3s ;
	}
	
	.menu-active header{
		background: rgba(255, 255, 255, 1);
		transition: all 0.5s;
	}
	.menu-active .menu-header__body{
		opacity: 1;
		visibility: visible;
		left: 0;
		transition: all 0.5s;
	}
	.list-header{
		flex-direction: column;
		gap: 20px;
	}
	.list-header__link{
		font-size: 20px;
		color: #fff;
	}
	.logo-header__link{
		display: inline-block;
		font-size: 18px;
	}
	.content-header__buttons{
		display: flex;
		gap: 20px;
		align-items: center;
	}
	.button-burger{
		display: block;
		position: relative;
		width: 30px;
		height: 15px;
		flex-shrink: 0;
	}
	.button-burger::after,
	.button-burger::before,
	.button-burger__element{
		content: "";
		position: absolute;
		display: block;
		height:3px;
		width: 100%;
		border-radius: 5px;
		background-color: #f26522;
		transform: translate(0) rotate(0);
		transition: all 0.3s;
	}
	.button-burger::after{
		top: 0;
	}
	.button-burger__element{
		top: 50%;
	}
	.button-burger::before{
		top: 100%;
	}
	.menu-active .button-burger__element{
		width: 0%;
		transition: all 0.3s;
	}
	.menu-active .button-burger::after{
		transform: rotate(45deg) translate(0px,11px);
		transition: all 0.3s;
	}
	.menu-active .button-burger::before{
		transform: rotate(-45deg) translate(0px,-11px);
		transition: all 0.3s;
	}
}
@media (max-width: 424.98px) {
	.logo-header__link{
		font-size: 12px;
	}
	.logo-header__img{
		aspect-ratio: 1 / 1;
		width: 22px;
	}
}
@media (max-width: 350.98px){
	.logo-header__img{
		aspect-ratio: 1 / 1;
		width: 44px;
	}
	.logo-header__link{
		display: none;
	}
}