@use "_mixins.scss" as *;
@use "_var.scss" as *;
@use "_button.scss" as *;
.header{
	background-color: $mainBackgroundColor;
	padding-top: toRem(50);
	@include adaptiveValue("font-size", 12, 10);
	font-weight: 700;
	line-height: 1.2;
	color: $mainWhiteColor;
	position: fixed;
	left: 0;
	right: 0;

	& .header__container{
		max-width:  toRem(1302);
	}
	& .header__hydra-logo{
		max-width: toRem(193);
		aspect-ratio: 193 / 103;
		cursor: pointer;
		&:focus-visible{
			outline: toRem(2) solid $focusOutline;
			outline-offset: toRem(5);
			border-radius: toRem(10);
		}
		& img{
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
	& .header__contentent-wrapper{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: toRem(20);
		align-items: center;
	}
	.menu-header{
		& .list-menu{
			display: flex;
			flex-wrap: wrap;
			@include adaptiveValue("gap", 42, 10);
			& .list-menu__link{
				text-transform: uppercase;
				padding-block: toRem(40);
				position: relative;
				&::after{
					content: "";
					position: absolute;
					width: 0%;
					height: toRem(3);
					bottom: 30%;
					left: 0;
					background-color: $mainWhiteColor;
					transition: width 0.3s;
				}
				@media (any-hover: hover) and (pointer: fine){
					&:hover::after {
						width: 100%;
						transition: width 0.5s;
					}
				}
			}
			& .list-menu__link:focus-visible{
				outline: toRem(2) solid $focusOutline;
				outline-offset: toRem(0);
				border-radius: toRem(10);
			}
		}
		& .button-burger{
			display: none;
		}
	}
	.header__action-button{
		display: flex;
		flex-wrap: wrap;
		gap: toRem(38);
		align-items: center;
		& .button-action__contacts{
			color: $mainWhiteColor;
			background: linear-gradient(135deg, var(--gradient-start-color-contacts-btn) 0%, var(--gradient-midd-color-contacts-btn) 50%, var(--gradient-end-color-contacts-btn) 100%);
			background-size: 300%;
			background-position: left;
			outline: 2px solid $mainWhiteColor;
			transition-property: --gradient-start-color-contacts-btn,--gradient-midd-color-contacts-btn,--gradient-end-color-contacts-btn,background-position;
			transition-duration: 0.6s;
			@media (any-hover: hover) and (pointer: fine){
				&:hover{
					background: linear-gradient(90deg, var(--gradient-start-color-main-btn) 0%, var(--gradient-end-color-main-btn) 100%);
					background-size: 100%;
					background-position: right;
					transition-property: --gradient-start-color-main-btn,--gradient-end-color-main-btn,	background-position,background-size;
					transition-duration: 0.6s;
				}
			}
		}
		
	}
	@media (max-width: toEm(950.98)) {
		.menu-header__list-wrapper{
			opacity: 0;
			visibility: hidden;
			position: fixed;
			top: toRem(105);
			left: -100%;
			border-radius: 100%;
			background-color: $mainBackgroundColor;
			width: 100%;
			height: calc(100% - toRem(110));
			padding: toRem(50) toRem(30) toRem(50) toRem(30);
			transition: opacity 0.3s, visibility 0.3s 0s, left 0.5s,border-radius 0.5s;
			& .list-menu{
				flex-direction: column;
				gap: toRem(40);
				& .list-menu__link{
					padding-block: 0;
					font-size: toRem(20);
				}
			}
		}
		.header__hydra-logo{
			max-width: toRem(103);
			aspect-ratio: 103 / 60;
		}
		& .button-burger{
			display: inline-block !important;
			position: relative;
			width: toRem(35);
			height: toRem(25);
			cursor: pointer;
			& .button-burger__element{
				position: absolute;
				width: 75%;
				height: toRem(3);
				top: 45%;
				right: 0;
				background: linear-gradient(90deg, var(--gradient-start-color-main-btn) 0%, var(--gradient-end-color-main-btn) 100%);
				border-radius: toRem(20);
				transition: width 0.3s;
			}
			&::before, &::after{
				content: "";
				position: absolute;
				width: 100%;
				height: toRem(3);
				right: 0;
				background: linear-gradient(90deg, var(--gradient-start-color-main-btn) 0%, var(--gradient-end-color-main-btn) 100%);
				border-radius: toRem(20);
				transition: transform 0.5s;
			}
			&::before{
				top: 0;
			}
			&::after{
				bottom: 0;
			}
		}
	}
}

body.active{
.header__action-button .button-burger{
	& .button-burger__element{
		width: 0%;
		transition: width 0.5s;
	}
	&::before{
		transform: translate(toRem(0),toRem(11)) rotate(130deg);
	}
	
	&::after{
		transform: translate(toRem(0),toRem(-11)) rotate(-130deg);

	}
	&::before, &::after{
		transition: transform 0.5s;
	}
}
.menu-header__list-wrapper{
	opacity: 1;
	left: 0%;
	visibility: visible;
	border-radius: 0%;
	transition: opacity 0.5s, left 0.5s,	border-radius 0.5s ;
}
}
@media (max-width: toEm(550.98)) {
	.menu-header__list-wrapper{
		display: flex;
		flex-direction: column;
		gap: toRem(20);
		& .list-menu{
			flex-grow: 1;
			& .list-menu__link{
				@include adaptiveValue("font-size", 12, 10);
			}
		}
	}
	
}