@use "_mixins.scss" as *;
@use "_var.scss" as *;
@use "_button.scss" as *;
main {
	padding-top: toRem(153);
}

// ===== HERO SECTION =====

.hero-section {
	padding-top: toRem(124);
	@include adaptiveValue("padding-bottom", 88, 53);
}

.hero-section__container {
	max-width: toRem(1302);
}

.hero-section__content-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	column-gap: toRem(30);
	row-gap: toRem(20);
	position: relative;
	align-items: center;

	&::before {
		content: "";
		@include adaptiveValue("width", 238, 150);
		@include adaptiveValue("height", 561, 450);
		right: 90%;
		top: 0;
		background: url("../img/main-section-vector.svg") no-repeat;
		background-position: left left;
		background-size: contain;
		position: absolute;
	}
}

.hero-section__img-wrapper {
	@include adaptiveValue("width", 490, 290);
	aspect-ratio: 490 / 426;
	position: relative;
	transition: all 0.5s;
	&::before {
		content: "";
		position: absolute;
		bottom: -100px;
		left: -100px;
		@include adaptiveValue("width", 735, 500);
		@include adaptiveValue("height", 845, 600);
		background: url("../img/main-photo-vector.svg") no-repeat center;
		background-size: cover;
		z-index: -1;
	}

	img {
		width: 100%;
		height: 100%;
		border: toRem(1) solid #000;
		background: #a3a3a3;
		box-shadow: 0 toRem(4) toRem(4) 0 rgba(0, 0, 0, 0.25);
		border-radius: toRem(100) toRem(100) toRem(100) toRem(240);
	}
	@media (any-hover: hover) and (pointer: fine) {
		&:hover {
			transform: scale(1.1);
			transition: all 0.8s;
		}
	}
}

.hero-section__text-wrapper {
	@include adaptiveValue("flex-basis", 460, 260);
	flex-grow: 0;
	color: $mainWhiteColor;
	font-weight: 700;
	line-height: 1.2;
}

.hero-section__title {
	text-transform: capitalize;
	@include adaptiveValue("font-size", 40, 24);
	margin-bottom: toRem(36);

	span {
		@include adaptiveValue("font-size", 46, 30);
		background: $textGradient;
		background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}

.hero-section__text {
	@include adaptiveValue("font-size", 16, 12);
	font-weight: 400;
	margin-bottom: toRem(66);
}

.hero-section__button {
	min-width: toRem(214);
	position: relative;

	&::before {
		content: "";
		position: absolute;
		width: toRem(100);
		height: toRem(100);
		top: -59%;
		left: 100%;
		background: url("../img/arrow.svg") no-repeat;
		pointer-events: none;
		transition: left 0.5s;
	}

	@media (any-hover: hover) and (pointer: fine) {
		&:hover::before {
			left: 90%;
		}
	}
}

// ===== CONTACTS SECTION =====

.contacts-information {
	padding-bottom: toRem(94);
}

.contacts-information__container {
	max-width: toRem(1302);
}

.contacts-information__content {
	display: flex;
	position: relative;
	z-index: 40;
	background: $darkGradient;
	border-radius: toRem(90);
	box-shadow: 0 toRem(4) toRem(4) 0 rgba(192, 183, 232, 0.01);
	color: $mainWhiteColor;
	overflow: auto;
}

.contacts-information__slider-wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	column-gap: toRem(20);
	row-gap: toRem(10);
	align-items: center;
	@include adaptiveValue("padding-block", 25, 10);
	@include adaptiveValue("padding-inline", 40, 10);
}

.element-information {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	@include adaptiveValue("column-gap", 25, 5);
	row-gap: toRem(10);
}

.element-information:not(:last-of-type)::before {
	content: "";
	@include adaptiveValue("height", 116.5, 100);
	width: toRem(1);
	border-radius: toRem(2);
	background-color: rgba(192, 183, 232, 0.33);
}

.element-information__title {
	@include adaptiveValue("font-size", 24, 10);
	font-weight: 700;
	margin-bottom: toRem(10);
	line-height: 1.2;
}

.element-information__link {
	font-size: toRem(14);
	font-weight: 400;
	line-height: 1.5;
	position: relative;
	&::after {
		content: "";
		position: absolute;
		width: 0%;
		height: toRem(3);
		top: 100%;
		left: 0;
		background-color: $mainWhiteColor;
		transition: width 0.3s;
	}

	@media (any-hover: hover) and (pointer: fine) {
		&:hover::after {
			width: 100%;
			transition: width 0.8s;
		}
	}
}

.element-information__icon {
	@include adaptiveValue("width", 70, 30);
	aspect-ratio: 1 / 1;
	transition: transform 0.3s;
	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
	@media (any-hover: hover) and (pointer: fine) {
		&:hover {
			transform: scale(1.2);
			transition: transform 0.5s;
		}
	}
}

.contacts-information__next-btn,
.contacts-information__prev-btn {
	opacity: 0;
	visibility: hidden;
	cursor: not-allowed;

	&.disable {
		opacity: 0.5;
		pointer-events: none;
	}
}

// ===== MEDIA =====

@media (max-width: toEm(960.98)) {
	.hero-section__content-wrapper {
		flex-direction: column-reverse;

		&::before {
			display: none;
		}
	}

	.hero-section__text-wrapper {
		text-align: center;

		.hero-section__button {
			align-self: center;
			width: 80%;

			&::before {
				display: none;
			}
		}
	}
}

@media (max-width: toEm(950.98)) {
	main {
		padding-top: toRem(110);
	}
}

@media (max-width: toEm(1065.98)) {
	.element-information::before {
		display: none;
	}
}

@media (max-width: toEm(980.98)) {
	.contacts-information__slider-wrapper {
		justify-content: flex-start;
	}

	.element-information {
		justify-content: center;
		flex-basis: toRem(320);
		flex-shrink: 0;
		padding-left: toRem(20);

		&:last-of-type {
			padding-right: toRem(20);
		}
	}
}

@media (max-width: toEm(750.98)) {
	.element-information__title {
		display: none;
	}
}

@media (max-width: toEm(550.98)) {
	.contacts-information__content {
		max-height: toRem(109);
		overflow: hidden;
	}

	.contacts-information__slider-wrapper {
		width: 100%;
		transition: all 0.5s;
	}

	.contacts-information__next-btn,
	.contacts-information__prev-btn {
		position: absolute;
		@include adaptiveValue("top", 45, 10);
		opacity: 1;
		visibility: visible;
		cursor: pointer;
		width: toRem(30);
		height: toRem(30);
	}

	.contacts-information__prev-btn {
		left: toRem(11);

		background: url("../img/arrow-contacts-icon.svg") no-repeat;
		background-size: cover;
	}

	.contacts-information__next-btn {
		right: toRem(11);

		background: url("../img/arrow-contacts-icon2.svg") no-repeat;
		background-size: cover;
	}

	.element-information {
		flex-basis: 100%;
		margin-inline: 0;
		padding-left: 0;
		align-self: center;

		&:last-of-type {
			padding-right: 0;
		}
	}
}

@media (max-width: toEm(455.98)) {
	.element-information__link {
		font-size: toRem(10);
	}
}

@media (max-width: toEm(360.98)) {
	.element-information__link {
		font-size: toRem(8);
	}
}

// ===== INTRODUCTION SECTION =====
.info-block {
	padding-bottom: toRem(94);
}

.info-block__container {
	max-width: toRem(1302);
}
.info-block__content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	gap: toRem(30);
}
.info-block__title {
	position: relative;
	text-transform: uppercase;
	font-weight: 300;
	line-height: 1.2;
	@include adaptiveValue("font-size", 36, 20);
	color: $mainWhiteColor;
	&::before {
		content: "";
		position: absolute;
		height: toRem(100);
		width: toRem(228);
		background: url("../img/introdaction-arrow.svg") no-repeat;
		background-size: contain;
		right: 0;
		transform: translateX(toRem(200));
		top: toRem(20);
		transition: all 0.3s;
	}

	& span {
		font-weight: 700;
	}
}
.info-block__text-wrapper {
	max-width: toRem(652);
	color: $mainWhiteColor;
	@include adaptiveValue("font-size", 16, 12);
	font-weight: 400;
	line-height: 1.5;
}

@media (max-width: toEm(1200.98)) {
	.info-block__title {
		&::before {
			display: none;
		}
	}
}

@media (max-width: toEm(964.98)) {
	.info-block__content {
		justify-content: center;
		text-align: center;
	}
}

// ===== ABOUT SECTION =====
.about {
	padding-bottom: toRem(110);
	position: relative;
	&::before {
		content: "";
		position: absolute;
		z-index: -1;
		width: 100%;
		height: 100%;
		background: url("../img/about-vector-group.svg") no-repeat center;
	}
}
.about__container {
	max-width: toRem(1302);
}
.about__content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	gap: toRem(30);
}
.about__img-wrapper {
	max-width: toRem(524);
	aspect-ratio: 524 / 527;
	overflow: hidden;
	transition: all 0.5s;
	& img {
		object-fit: cover;
		width: 100%;
		height: 100%;
		@include adaptiveValue(border-top-left-radius, 240, 100);
		@include adaptiveValue(border-bottom-right-radius, 240, 100);
		@include adaptiveValue(border-top-right-radius, 100, 50);
		@include adaptiveValue(border-bottom-left-radius, 100, 50);
	}
	@media (any-hover: hover) and (pointer: fine) {
		&:hover {
			transform: scale(1.1);
			transition: all 0.8s;
		}
	}
}
.abot__text-content {
	max-width: toRem(630);
}
.about__title {
	@extend .info-block__title;
	position: static;
	&::before {
		display: none;
	}
	margin-bottom: toRem(40);
}
.about__describe {
	color: $mainWhiteColor;
	@include adaptiveValue("font-size", 16, 12);
	font-weight: 400;
	line-height: 1.5;
	margin-bottom: toRem(30);
}
.about__link {
	min-width: toRem(214);
}
@media (max-width: toEm(1213.98)) {
	.about__content {
		justify-content: center;
		text-align: center;
	}
	.about {
		&::before {
			display: none;
		}
	}
}
// ===== ADVANTAGES SECTION =====
.introdaction-section__title {
	&::before {
		content: "";
		transform: translateX(toRem(250));
	}
}
.cards-advantages__wrapper {
	display: flex;
	justify-content: space-between;
	gap: toRem(20);
	align-items: center;
}
.advantages__information {
	padding-bottom: toRem(102);
}
.cards-advantages__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: $cardGradient;
	border-radius: toRem(40);
	max-width: toRem(310);
	min-height: toRem(511);
	padding: toRem(23) toRem(25) toRem(40);
}
.item-cards__img-wraper {
	aspect-ratio: 1 / 1;
	@include adaptiveValue("width", 190, 100);
	border-radius: 50%;
	border: toRem(12) solid #262335;
	margin-bottom: toRem(21);
	transition: all 0.5s;
	& img {
		width: 100%;
		height: 100%;
		object-fit: contain;
		border-radius: 50%;
	}
	@media (any-hover: hover) and (pointer: fine) {
		&:hover {
			transform: scale(1.1);
			transition: all 0.8s;
		}
	}
}
.item-cards__title {
	text-transform: uppercase;
	color: $mainWhiteColor;
	@include adaptiveValue("font-size", 24, 18);
	font-weight: 700;
	text-align: center;
	line-height: 1.2;
	margin-bottom: toRem(17.5);
}
.item-cards__line {
	height: toRem(1);
	@include adaptiveValue("width", 154, 100);
	background: #c0b7e8;
	opacity: 0.3;
	margin-bottom: toRem(21.5);
}
.item-cards__text {
	color: $mainWhiteColor;
	font-size: toRem(12);
	font-weight: 400;
	line-height: 1.5;
	word-spacing: toRem(2);
	margin-bottom: 35px;
	flex-grow: 1;
}
@media (max-width: toEm(910.98)) {
	.cards-advantages__wrapper {
	  overflow: auto;
	  scroll-snap-type: x mandatory; 
	  -webkit-overflow-scrolling: touch;
	  padding-inline: toRem(16); 
	}
 
	.cards-advantages__item {
	  flex: 0 0 auto; 
	  scroll-snap-align: start; 
	}
 

	.cards-advantages__wrapper::-webkit-scrollbar {
	  display: none;
	}
	.cards-advantages__wrapper {
	  scrollbar-width: none; 
	}
 }
 @media (max-width: toEm(450.98)) {
	.cards-advantages__item{
		max-width: toRem(250);
	}
 }