@use "_mixins.scss" as *;
@use "_var.scss" as *;
@use "_button.scss" as *;
main {
	padding-top: toRem(153);
	& .hero-section {
		padding-top: toRem(124);
		padding-bottom: toRem(88);
		& .hero-section__container {
			max-width: toRem(1302);
		}
		& .hero-section__content-wrapper {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			column-gap: toRem(30);
			row-gap: toRem(20);
			position: relative;
			&::before {
				content: "";
				@include adaptiveValue("width", 238, 150);
				@include adaptiveValue("height", 561, 450);
				right: 90%;
				top: 0;
				background: url("../img/main-section-vector.svg") no-repeat;
				background-position: left left;
				background-size: contain;
				position: absolute;
			}
			align-items: center;
			& .hero-section__img-wrapper {
				@include adaptiveValue("width", 490, 290);
				aspect-ratio: 490 / 426;
				position: relative;
				&::before {
					content: "";
					position: absolute;
					bottom: -100px;
					left: -100px;
					@include adaptiveValue("width", 735, 500);
					@include adaptiveValue("height", 845, 600);
					background: url("../img/main-photo-vector.svg") no-repeat center;
					background-size: cover;
					z-index: -1;
				}

				& img {
					border: toRem(1) solid #000;
					background: #a3a3a3;
					box-shadow: 0 toRem(4) toRem(4) 0 rgba(0, 0, 0, 0.25);
					border-radius: toRem(100) toRem(100) toRem(100) toRem(240);
					width: 100%;
					height: 100%;
				}
			}
			& .hero-section__text-wrapper {
				flex-basis: toRem(460);
				flex-grow: 0;
				color: $mainWhiteColor;
				font-weight: 700;
				line-height: 1.2;
				& .hero-section__title {
					text-transform: capitalize;
					@include adaptiveValue("font-size", 40, 24);
					margin-bottom: toRem(36);
					& span {
						@include adaptiveValue("font-size", 46, 30);
						background: $textGradient;
						background-clip: text;
						-webkit-text-fill-color: transparent;
					}
				}
				& .hero-section__text {
					@include adaptiveValue("font-size", 16, 12);
					font-weight: 400;
					margin-bottom: toRem(66);
				}
				& .hero-section__button {
					min-width: toRem(214);
					position: relative;
					&::before {
						content: "";
						position: absolute;
						width: toRem(100);
						height: toRem(100);
						top: -59%;
						left: 100%;
						background: url("../img/arrow.svg") no-repeat;
						pointer-events: none;
						transition: left 0.5s;
					}
					@media (any-hover: hover) and (pointer: fine) {
						&:hover::before {
							left: 90%;
						}
					}
				}
			}
		}
	}
	@media (max-width: toEm(960.98)) {
		& .hero-section__content-wrapper {
			flex-direction: column-reverse;
			&::before {
				display: none;
			}
		}
		& .hero-section__text-wrapper {
			text-align: center;
			& .hero-section__button {
				align-self: center;
				width: 80%;
				&::before {
					display: none;
				}
			}
		}
	}
	@media (max-width: toEm(950.98)) {
		& {
			padding-top: toRem(110);
		}
	}
	.contacts-information {
		padding-bottom: toRem(94);
		.contacts-information__container {
			max-width: toRem(1302);
			.contacts-information__content {
				position: relative;
				z-index: 40;
				background: $darkGradient;
				border-radius: toRem(90);
				box-shadow: 0 toRem(4) toRem(4) 0 rgba(192, 183, 232, 0.01);
				display: flex;
				// flex-shrink: 0;
				overflow: auto;
				justify-content: space-between;
				column-gap: toRem(20);
				row-gap: toRem(10);
				align-items: center;
				@include adaptiveValue("padding-block", 53, 43);
				@include adaptiveValue("padding-inline", 40, 30);
				color: $mainWhiteColor;
				.contacts-information__next-card-btn {
					display: none;
				}
				.element-information {
					display: flex;
					flex-direction: row-reverse;
					align-items: center;
					@include adaptiveValue("column-gap", 25, 5);
					row-gap: toRem(10);
					&:not(:last-child)::before {
						content: "";
						@include adaptiveValue("height", 116.5, 100);
						width: toRem(1);
						border-radius: toRem(2);
						background-color: #c0b7e8;
						background-color: rgba(192, 183, 232, 0.33);
					}
					.element-information__title {
						@include adaptiveValue("font-size", 24, 10);
						font-weight: 700;
						margin-bottom: toRem(10);
						line-height: 1.2;
					}
					.element-information__link {
						@include adaptiveValue("font-size", 14, 7);
						font-weight: 400;
						line-height: 1.2;
					}
					.element-information__icon {
						@include adaptiveValue("width", 70, 30);
						aspect-ratio: 1/1;
						& img {
							width: 100%;
							height: 100%;
							object-fit: contain;
						}
					}
				}
			}
		}
		@media (max-width: toEm(981.98)) {
			.contacts-information__content {
				justify-content: flex-start;
			}
			.element-information__title {
				display: none;
			}
			.element-information__link {
				font-size: toRem(14) !important;
				font-weight: 700;
			}
			.element-information {
				max-width: toRem(380);
				flex-shrink: 0;
				flex-grow: 1;
				align-items: flex-end;
				&::before {
					display: none;
				}
			}
			.element-information__icon {
				width: toRem(70) !important;
			}
		}
		@media (max-width: toEm(454.98)) {
			.contacts-information__content {
				flex-direction: column;
				justify-content: space-between;
				row-gap: toRem(30) !important;
			}
			.element-information{
				gap: 0;
			}
			.element-information__link {
				display: none;
			}
		}
	}
}
