$mainWhiteColor: #fff;
$mainBackgroundColor: #302C42;
$mainTextButtonColor: #302C42;
$gradient: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
$focusOutline: #7d72ad;
$textGradient: linear-gradient(269deg, #C0B7E8 -3.72%, #8176AF 82.17%);
@property --gradient-start-color-main-btn{
	syntax: '<color>';
	inherits: false;
	initial-value: #8176AF;
}
@property --gradient-end-color-main-btn{
	syntax: '<color>';
	inherits: false;
	initial-value: #C0B7E8;
}
@property --gradient-start-color-contacts-btn{
	syntax: '<color>';
	inherits: false;
	initial-value: #302C42;
}
@property --gradient-midd-color-contacts-btn{
	syntax: '<color>';
	inherits: false;
	initial-value: #1e1a29;
}
@property --gradient-end-color-contacts-btn{
	syntax: '<color>';
	inherits: false;
	initial-value: #302C42;
}

