@use "_reset.scss" ;
@use "_var.scss" as *;
@use 'sass:math';
@use "_header.scss";
@use "_footer.scss";
@use "_main.scss";
body{
	background-color: $mainBackgroundColor;
	& .scroll-lock{
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
}
.wrapper {
	overflow: clip;
	min-height: 100%;
	font-family: "Montserrat",sans-serif;
	display: flex;
	flex-direction: column;
	& .page{
		flex-grow: 1;
	}
}
[class*="__container"]{
	padding-left: .9375rem;
	padding-right: .9375rem;
	margin: 0 auto;
}